# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/

# Django local / dynamic files
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Pyright / IDE
.vscode/
.idea/
pyrightconfig.json
